---
---

@import "{{ site.theme }}";
h1  {
    	font-family: Arial, sans-serif;
	font-size: 2rem;
	font-weight: 900;
	line-height: 1.5; 
	text-decoration: underline; 
	text-decoration-thickness: 4px;
	text-underline-position: under;
	 
	}

.header p {
	font-family: Arial, sans-serif;
	font-weight: 900;
	font-size: 2rem;
	line-height: 1.5; 
}

p {
	font-family: Arial, sans-serif;
	font-weight: 300;
	font-size: 2rem;
	line-height: 1.5; 
}

a {  	
	color: #757575;
	text-decoration: none;  
}

a:hover, a:focus  { 
	color: #757575;
  	background-color: #757575;
	font-weight: 300;
}

img {width: 75px;
		
}

img:hover { 
  	background-color: #757575;
	
}
