---
---

@import "{{ site.theme }}";
.wrapper {
    width: 1080px;
    margin: 0 auto;
}

header {
 	width: 160px;
	float:left;
 	position:fixed;
 	-webkit-font-smoothing:subpixel-antialiased
}

section {
 	width: 900px;
 	float:right;
 	padding-bottom:50px
}

body {
	color: #000;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

h1  {
	font-size: 2rem;
	font-weight: 900;
	line-height: 1.3; 
	color: #000;
	text-decoration: underline; 
	text-decoration-thickness: 4px;
	text-underline-position: under;
	}

.header p {
	font-weight: 900;
	font-size: 2rem;
	line-height: 1.3; 
}

.header a {
	color: #000;
}

.header h1:hover, .header h1:focus  {
	font-weight: 900;
}


h2 {
	font-weight: 900;
	font-size: 2rem;
	line-height: 1.3; 
}

p {
	font-weight: 300;
	font-size: 2rem;
	line-height: 1.3; 
}

a {  	
	color: #757575;
	text-decoration: none;  
}

a:hover, a:focus  { 
	color: #757575;
  	background-color: #757575;
	font-weight: 300;
}
